<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    <div id="pageContainer">
        <header id="pageHeader" class="brownBck blackBorder">
            Online shop
        </header>
        <div id="contentContainer" class="">
            <nav id="pageNav">
                @RenderSection("Tree", false)
            </nav>

            <section id="pageSection">
                @RenderBody()
            </section>

            <aside id="pageAside">
                @if (Request.IsAuthenticated)
                {
                    ViewBag.UserName = User.Identity.Name;
                    Html.RenderPartial("_LoggedIn");
                }
                else
                {
                    Html.RenderPartial("_Login", new EshopMVC.Models.Members.LoginViewModel());
                }
                <br />
                <div class="brownBck blackBorder">
                    @Html.ActionLink("Catalog", "Index", "Home")<br />
                    @Html.ActionLink("Cart", "Index", "Cart")<br />
                    @Html.ActionLink("Sign up", "Register", "Members")
                </div>
            </aside>
        </div>
        <footer id="pageFooter" class="brownBck blackBorder">
            Miroslav Jandak 2016
        </footer>
    </div>
</body>
</html>
