<div class="brownBck blackBorder" style="text-align:center">You are logged in as <br />
    <b>
        @*@User.Identity.Name*@
        @ViewBag.UserName
    </b>
</div>
<br/>
<div class="brownBck blackBorder">
    @Html.ActionLink("Catalog", "Index", "Home")<br />
    @Html.ActionLink("Cart", "Index", "Cart")<br/>
    @Html.ActionLink("Orders", "List", "Order")<br/>
    @Html.ActionLink("Sign out", "LogOut", "Members")
</div>